/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  en cours de test : 

@mixin card($direction, $alignement) {
  display: flex;
  flex-direction: $direction;
}

.card {
  @include card(row);
}
 */

@font-face {
  font-family: 'source-sans';
  src: url(/assets/fonts/Source-Sans-3/SourceSans3-Regular.ttf);
}

@font-face {
  font-family: 'source-sans-light';
  src: url(/assets/fonts/Source-Sans-3/SourceSans3-Light.ttf);
}

@font-face {
  font-family: 'source-sans-bold';
  src: url(/assets/fonts/Source-Sans-3/SourceSans3-Bold.ttf);
}

@font-face {
  font-family: 'playfair-display-bold';
  src: url(/assets/fonts/Playfair-Display/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: 'playfair-display-semibold';
  src: url(/assets/fonts/Playfair-Display/PlayfairDisplay-SemiBold.ttf);
}

html {
  background-color: #2a2d34;
  color: #f5f0e8;
  font-size: 87.5%;
  font-family: 'source-sans';
  @media (min-width: 768px) {
    font-size: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#header,
#footer {
  margin: 0;
  padding: 0;
}

.components {
  &__footer {
    border-top: solid 0.3px #f5f0e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 50px 0 50px 0;
    &__logos {
      display: flex;
      flex-direction: row;
      gap: 15px;
      height: 2rem;
      & img {
        height: 100%;
        width: auto;
        filter: brightness(0) invert(1);
      }
    }
    & p {
      padding: 16px 16px;
    }
  }
  &__header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 18px;
    border-bottom: solid 0.3px #f5f0e8;
    background-color: #2a2d34;
    & img {
      height: 5rem;
      width: auto;
    }
    &__navbar {
      display: none;
    }
    &__burger {
      margin-left: auto;
      background: none;
      border: none;
      cursor: pointer;
      & img {
        filter: brightness(0) saturate(100%) invert(68%) sepia(60%) saturate(500%) hue-rotate(5deg)
          brightness(95%);
      }
    }
  }
}

.accueil {
  font-size: 1.5rem;
  &__hero {
    min-height: 100vh;
    background-image: url('/assets/img/scene-principale.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 3;
    }
    &__curtain {
      position: absolute;
      z-index: 4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      top: 0; // manquait
      left: 0;
      object-fit: cover;
      &__left {
        width: 100%;
      }
      &__right {
        width: 100%;
        display: none;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      max-width: 30rem;
    }
    &__cta {
      background-color: #d4a843;
      width: 10.5rem;
      padding: 0.5rem 1.5rem;
      border-radius: 8px;
      color: #2a2d34;
      font-size: 1.5rem;
      &:hover {
        background-color: #6b1d3a;
        color: #f5f0e8;
        scale: 1.1;
        transition: 200ms;
      }
    }
    & span {
      font-size: 2rem;
      font-family: 'source-sans-light';
      color: #d4a843;
    }
    & h1 {
      font-size: 3rem;
      font-family: 'playfair-display-bold';
    }
  }
  &__featured-shows {
    padding: 40px 16px;
    &__text {
      font-family: 'source-sans-light';
      display: flex;
      flex-direction: column;
      gap: 10px;
      & h3 {
        font-family: 'playfair-display-semibold';
      }
    }
  }
}

.programmation {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    & h1 {
      font-size: 2rem;
      font-family: 'playfair-display-bold';
    }
  }
  &__filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    & a {
      border: solid 0.3px #f5f0e8;
      border-radius: 14px;
      padding: 8px 12px;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      &__left,
      &__right {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        & p {
          width: 100%;
        }
      }
    }
  }
  &__body {
    padding: 40px 16px;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}

.infos {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 40px;
    & h1 {
      font-size: 2rem;
      font-family: 'playfair-display-bold';
    }
  }
  &__body {
    padding: 40px 16px;
  }
  &__card-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__top {
      display: flex;
      flex-direction: column; // empilé sur mobile
      gap: 1rem;
    }
    &__bottom {
      display: flex;
      flex-direction: column; // empilé sur mobile
      gap: 1rem;
    }
    &__card {
      border: solid 0.3px #f5f0e8;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      &__access {
        border: solid 0.3px #f5f0e8;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        & h2 {
          font-family: 'source-sans-bold';
          font-size: 1rem;
        }
      }
      &__tarif {
        border: solid 0.3px #f5f0e8;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        &--individual {
          display: flex;
          justify-content: space-between;
          border-bottom: solid 0.3px #f5f0e8;
          padding-bottom: 1rem;
          & span {
            color: #d4a843;
            font-family: 'source-sans-bold';
          }
        }
        & h2 {
          font-family: 'source-sans-bold';
          font-size: 1rem;
        }
      }
      & img {
        width: 3rem;
        height: 3rem;
      }
      &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        & h2 {
          font-family: 'source-sans-bold';
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .components {
    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 34px 24px 34px 24px;
    }
    &__header {
      padding: 8px 84px 8px 84px;
      &__navbar {
        display: flex;
        gap: 96px;
        font-size: 1.25rem;
      }
      &__burger {
        display: none;
      }
    }
  }
  .accueil {
    &__hero {
      &__content {
        max-width: 50rem;
      }
      &__curtain {
        position: absolute;
        z-index: 4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        top: 0; // manquait
        left: 0;
        object-fit: cover;
        &__left {
          width: 100%;
        }
        &__right {
          width: 100%;
          display: block;
        }
      }
    }
    &__featured-shows {
      padding: 80px;
    }
  }
  .programmation {
    &__body {
      padding: 80px;
    }
    &__filters {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      &__buttons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        &__left {
          border-right: solid 0.3px #f5f0e8;
          padding-right: 2rem;
        }
      }
    }
    &__checkbox {
      padding-top: 2rem;
    }
  }
  .infos {
    &__body {
      padding: 80px;
    }
    &__card-section {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      &__top {
        display: flex;
        flex-direction: row;
        gap: 3rem;
      }
      &__bottom {
        display: flex;
        flex-direction: row;
        gap: 3rem;
      }
      &__card {
        flex: 1;
        flex-direction: column; // icône au dessus du texte sur desktop
        align-items: flex-start;
      }
    }
    .infos__card-section__card__access {
      flex: 2; // 2x plus large
    }

    .infos__card-section__card__tarif {
      flex: 1;
    }
  }
}

#soldout {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: solid 0.3px #f5f0e8;
  border-radius: 3px;
  background-color: #2a2d34;
  cursor: pointer;

  &:checked {
    background-color: #d4a843;
  }
}

#header {
  position: sticky;
  top: 0;
  z-index: 100;
}
